@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';

.contact {
  @include form-container(800px);

  &__buttons {
    display: flex;
    justify-content: center;
    margin-bottom: $margin;

    .contact__button {
      margin: 0 $padding / 2;
      @include form-button;

      &.active {
        text-shadow: $link-hover-shadow;
      }
    }
  }

  &__textarea,
  &__form {
    width: 100%;
    max-width: 600px;

    textarea,
    input,
    select {
      @include form-field;
    }
  }

  &__send {
    @include form-button;
  }

  @media (max-width: map-get($breakpoints, large)) {
    max-width: 90%;
  }

  @media (max-width: map-get($breakpoints, medium)) {
    padding: $padding;
  }

  @media (max-width: map-get($breakpoints, small)) {
    &__buttons {
      flex-direction: column;

      .contact__button {
        margin: $padding 0;
      }
    }
  }
}
