:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centre tout le contenu horizontalement */
  align-items: center; /* Centre tout le contenu verticalement */
  min-height: 100vh;
  background-color: #242424; /* Fond de couleur globale */
}

#root {
  width: 100%;
  max-width: 1280px; /* Largeur maximale */
  margin: 10px; /* Marge de 10px autour */
  padding: 2rem; /* Espacement interne */
  box-sizing: border-box; /* Inclut padding dans le calcul de la largeur */
  background-color: transparent; /* Aucune couleur de fond ajoutée */
}
