@import '../../styles/_variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  
    &__logo {
      width: 50px; // Taille de l'image
      height: 50px;
      border-radius: 50%; // Rendre l'image ronde
      object-fit: cover; // Ajuster l'image sans déformation
    }
  
  background-color: #000;
  color: #00ff41;
  text-align: center;
  padding: 10px;

  h1 {
    font-family: 'Courier New', monospace;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

    li {
      margin: 0 15px;

      a {
        color: #00ff41;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-shadow: 0 0 10px #00ff41;
        }
      }
    }
  }
}

