@import '../../styles/_variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;
  background-color: $background-dark;
  color: $matrix-green;
  font-family: $font-family-primary;
  border-radius: 20px;

  .header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 13px 50px;

    .header-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        font-size: $font-size-lg;
        margin: 0;
      }

      h2 {
        font-size: $font-size-md;
        margin: 0;
      }

      .header__welcome {
        margin-top: 0.5rem;
        font-family: $font-family-secondary;
        font-size: $font-size-md;
      }
    }

    nav {
      ul {
        list-style: none;
        display: flex;
        gap: 1.5rem;

        @media (max-width: map-get($breakpoints, medium)) {
          flex-direction: column;
          align-items: flex-end;
          gap: $padding;
        }

        li {
          a,
          .header__logout {
            color: $matrix-green;
            text-decoration: none;
            font-weight: bold;
            font-size: $font-size-md;
            transition: text-shadow 0.3s ease;

            &:hover {
              text-shadow: $link-hover-shadow;
            }
          }
        }
      }
    }
  }

  &__logo {
    width: 175px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 15px;
    margin-left: 70px;

    @media (max-width: map-get($breakpoints, small)) {
display: none;
    }
  }
}
